/* App fonts */

@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* General CSS */

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

p {
  font-family: "Crimson Text", Georgia, "Times New Roman", Times, serif;
}

body {
  background-color: #fefefe;
}

.loadingSpinner {
  color: #2f906a;
}

/* Scroll to top button */

.scrollBtn {
  position: fixed;
  bottom: 16px;
  right: 10px;
  z-index: 99;
  font-size: 2.5rem;
  border: none;
  outline: none;
  color: #d46240;
  border-radius: 30px;
  background-color: transparent;
  transition: color 0.5s ease, opacity 0.5s ease, transform 0.5s ease;
}

.scroll-to-top-button.visible {
  opacity: 1;
}

.scroll-to-top-button.hidden {
  opacity: 0;
}

/* Navbar */

#navBar {
  width: 100%;
  height: 130px;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  background-color: #fbf2da;
}

#navbarLogo {
  margin-inline: 5px;
}

.navbarBrand {
  font-size: 1.5rem;
  padding: 0;
}

.navLink,
.loginLink {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 400;
  color: #152b3c;
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  transition: all 0.5s ease-in-out;
}

.navLink:hover {
  color: #fefefe;
}

.loginLink:hover,
.loginLink:active {
  color: #d46240;
}

.dropdownItem {
  transition: all 0.5s ease;
}

.dropdownItem:hover,
.dropdownItem:active {
  background-color: #d46240;
}

.dropdownMenu {
  left: auto !important;
  right: 0;
  transform: translateX(0%);
  position: absolute;
}

.custom-toggler {
  color: #152b3c !important;
}

.custom-toggler.navbar-toggler {
  background-color: rgba(21, 43, 60, 0.19);
}

.titleOffCanvas {
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 2rem;
}

.orangeSpan {
  color: #d46240;
}

.blueSpan {
  color: #152b3c;
}

.navbarOffcanvas {
  background-color: #fbf2da;
}

.dropdownMenu {
  left: 100;
}

.logoutBtn {
  cursor: pointer;
}

/* Footer */

#footer {
  background-color: #fbf2da;
  padding-block: 1rem;
  width: 100%;
}

.footerTitle {
  color: #d46240;
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
}

.copyright {
  font-family: "Crimson Text", Georgia, "Times New Roman", Times, serif;
  font-size: 1rem;
  transition: all 0.5s ease;
  color: #152b3c;
}

/* Not Found */

.notFoundTitle {
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  color: #152b3c;
  font-size: 2.3rem;
  font-weight: 300;
}

.notFoundBody {
  font-size: 1.5rem;
}

.homeBtn,
.loginBtn,
.registerBtn,
.bookCardButton {
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  background-color: #d46240;
  color: #fefefe;
  padding-block: 0.7rem;
  padding-inline: 1.3rem;
  border-radius: 2px;
  transition: all 0.5s ease;
}

.homeBtn:hover,
.loginBtn:hover,
.registerBtn:hover,
.bookCardButton:hover {
  cursor: pointer;
  background-color: #fefefe;
  color: #d46240;
  border: 2px solid #d46240;
}

/* Homepage */

.homeTitle {
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  font-weight: 300;
  color: #152b3c;
  font-size: 8rem;
}

.quotation {
  font-style: italic;
  color: #152b3c;
  font-size: 1.5rem;
  text-align: start;
}

.blockquoteFooter {
  margin-top: 1rem;
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
}

.quoteIcon {
  font-size: 4rem;
  margin-bottom: 1rem;
  color: #152b3c;
}

.homeBody {
  font-size: 1.5rem;
}

.animation {
  width: 200px;
  height: 200px;
}

/* Login page */

.loginTitle {
  font-family: "Work Sans", Georgia, "Times New Roman", Times, serif;
  font-weight: 300;
  color: #152b3c;
  font-size: 4rem;
}

.italicSpan {
  font-style: italic;
  font-weight: 600;
  color: #d46240;
}

.inputField {
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  width: 100%;
  max-width: 600px;
  padding-left: 15px;
  height: 50px;
  margin-top: 20px;
  font-size: 1.3rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.userCard {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  max-width: 600px;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.userCard:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.logoPic {
  width: 50px;
  height: 50px;
}

.cardTitle {
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  color: #152b3c;
}

.avatarPic {
  width: 100px;
  height: 100px;
}

.userName {
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  font-size: 1.7rem;
  font-weight: 400;
  color: #d46240;
}

.userEmail {
  font-size: 1.1rem;
}

.modalHeader {
  background-color: #fbf2da;
}

.modalTitle {
  font-family: "Crimson Text", Georgia, "Times New Roman", Times, serif;
  font-size: 2rem !important;
}

.modalInput {
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  color: #152b3c;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.saveBtn {
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  background-color: #2f906a;
  color: #fefefe;
  padding-block: 0.7rem;
  padding-inline: 1.3rem;
  border-radius: 2px;
  transition: all 0.5s ease;
}

.saveBtn:hover {
  cursor: pointer;
  background-color: #fefefe;
  color: #2f906a;
  border: 2px solid #2f906a;
}

/* Book list page */

.bookListTitle {
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  font-size: 4rem;
  font-weight: 300;
}

.bookCard {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.bookCard:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.bookCoverContainer {
  position: relative;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fbf2da;
  padding: 10px;
}

.bookCoverBackground {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  filter: blur(5px);
  opacity: 0.5;
}

.bookCover {
  position: relative;
  z-index: 1;
  height: 90%;
  object-fit: contain;
  background-color: transparent;
}

.bookTitle {
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  color: #d46240;
  font-size: 1.5rem;
  font-weight: 400;
}

.bookAuthor {
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  margin-bottom: auto;
  font-weight: 400;
  color: #838383;
}

.bookPlot {
  font-family: "Crimson Text", Georgia, "Times New Roman", Times, serif;
  margin-bottom: auto;
  color: #152b3c;
  font-weight: 400;
}

.bookReadings {
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #152b3c;
  margin-bottom: 1rem;
}

.cardBody {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
}

.bookCardButton {
  margin-top: auto;
}

.readingsBtn {
  border: none;
  background-color: transparent;
  color: #2f906a;
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  transition: all 0.5s ease;
}

.readingsBtn:hover {
  text-decoration: underline;
}

.updateBtn,
.deleteBtn {
  border: none;

  padding-block: 0.3rem;
  padding-inline: 0.6rem;
  border-radius: 2px;
  transition: all 0.5s ease;
}

.updateBtn:hover,
.deleteBtn:hover {
  cursor: pointer;
}

.updateBtn {
  background-color: #479b7afe;
  color: #fefefe;
}

.updateBtn:hover {
  background-color: #fefefe;
  color: #479b7afe;
  border: 2px solid #479b7afe;
}

.deleteBtn {
  background-color: #d64646fe;
  color: #fefefe;
}

.deleteBtn:hover {
  background-color: #fefefe;
  color: #d64646fe;
  border: 2px solid #d64646fe;
}

.inputLabel {
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  color: #d46240;
  font-weight: 500;
}

.addingDate {
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  margin-bottom: auto;
  font-weight: 400;
  color: #838383;
  font-size: 0.9rem;
}

.downloadPdfLink {
  font-weight: 600;
  color: #2f906a;
  cursor: pointer;
  transition: text-decoration 0.5s ease;
}

.downloadPdfLink:hover {
  text-decoration: underline;
}

/* Mobile */

@media (max-width: 500px) {
  .homeTitle {
    font-size: 3.9rem;
  }

  .quotation {
    font-size: 1.2rem;
  }

  .blockquote {
    margin-inline: 1rem;
  }

  .blockquoteFooter {
    text-align: center;
    font-size: 1rem;
  }

  .quoteIcon {
    font-size: 3rem;
  }

  .notFoundTitle {
    font-size: 2rem;
  }

  .homeBody,
  .notFoundBody {
    font-size: 1.2rem;
    margin-inline: 1.2rem;
  }

  .inputField {
    font-size: 1.2rem;
    height: 40px;
  }

  .loginTitle,
  .bookListTitle {
    font-size: 3rem;
  }

  .logoPic {
    width: 30px;
    height: 30px;
  }

  .cardTitle {
    font-size: 1.3rem;
  }

  .avatarPic {
    width: 70px;
    height: 70px;
  }

  .dataContainer {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    margin-left: 0 !important;
  }
  .contactsContainer {
    align-items: center !important;
    margin-left: 0 !important;
  }

  .userName {
    margin-top: 0.5rem;
    font-size: 1.5rem;
  }

  .userEmail {
    font-size: 1rem;
  }
}

/* Tablet */

@media (max-width: 768px) {
}
